// Pagination
// ==========================================================================

@import "settings/all";
@import "tools/all";
@import "helpers/all";


@include govuk-exports("govuk/component/pagination") {
    .govuk-pagination {
        @include govuk-font($size: 19);
        @include govuk-text-colour;
    }

    .govuk-pagination__controls {
        @include govuk-media-query(tablet) {
            float: right;
        }

        @include govuk-media-query($until: tablet) {
            margin-bottom: 10px;
        }
    }

    .govuk-pagination__controls-items {
        display: inline;

        li {
            display: inline;
            margin: 0 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .govuk-pagination__controls-prev {
        margin-right: 10px;
    }

    .govuk-pagination__controls-next {
        margin-left: 10px;
    }
}
