// Button
// ==========================================================================

@import "~govuk-frontend/dist/govuk/settings/index";
@import "~govuk-frontend/dist/govuk/tools/index";
@import "~govuk-frontend/dist/govuk/helpers/index";

@include govuk-exports("govuk/components/button-extended") {
    .govuk-button--secondary {
        color: govuk-colour("black");
        background-color: govuk-colour("light-grey");
        box-shadow: 0 $govuk-border-width-form-element 0 govuk-colour("mid-grey");

        &:hover{
            color: govuk-colour("black");
            background-color: darken(govuk-colour("light-grey"), 5%);
        }
    }
}
