{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Design stuff{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">Design stuff</h1>
{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">Tabs</h2>

<div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>

    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-day">
                Pending (9)
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
                Served (45)
            </a>
        </li>
    </ul>

    <section class="govuk-tabs__panel" id="past-day">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Case number</th>
                    <th class="govuk-table__header" scope="col">Client</th>
                    <th class="govuk-table__header" scope="col">Upload date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">62345676</td>
                    <td class="govuk-table__cell ">Lia Shelton</td>
                    <td class="govuk-table__cell ">10/01/2017</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">72345677</td>
                    <td class="govuk-table__cell ">Abdullah Lang</td>
                    <td class="govuk-table__cell ">17/07/2017</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">52345675</td>
                    <td class="govuk-table__cell ">Angela Walker</td>
                    <td class="govuk-table__cell ">06/04/2017</td>
                </tr>
            </tbody>
        </table>

    </section>
    <section class="govuk-tabs__panel" id="past-week">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Case number</th>
                    <th class="govuk-table__header" scope="col">Client</th>
                    <th class="govuk-table__header" scope="col">Upload date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">72345677</td>
                    <td class="govuk-table__cell ">Abdullah Lang</td>
                    <td class="govuk-table__cell ">17/07/2017</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">52345675</td>
                    <td class="govuk-table__cell ">Angela Walker</td>
                    <td class="govuk-table__cell ">06/04/2017</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">62345676</td>
                    <td class="govuk-table__cell ">Lia Shelton</td>
                    <td class="govuk-table__cell ">10/01/2017</td>
                </tr>
            </tbody>
        </table>

    </section>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Pagination</h2>

<h3 class="govuk-heading-m">First item</h3>

<div class="govuk-pagination">
    <div class="govuk-pagination__controls">
        <ul class="govuk-pagination__controls-items govuk-list">
            <li>1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
        <a href="#" class="govuk-pagination__controls-next">Next</a>
    </div>
    <div class="govuk-pagination__summary">Showing 1 – 15 of 112 report submissions</div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Middle items</h3>

<div class="govuk-pagination">
    <div class="govuk-pagination__controls">
        <a href="#" class="govuk-pagination__controls-prev">Prev</a>
        <ul class="govuk-pagination__controls-items govuk-list">
            <li><a href="#">34</a></li>
            <li><a href="#">35</a></li>
            <li>36</li>
            <li><a href="#">37</a></li>
            <li><a href="#">38</a></li>
        </ul>
        <a href="#" class="govuk-pagination__controls-next">Next</a>
    </div>
    <div class="govuk-pagination__summary">Showing 25 – 50 of 112 report submissions</div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Last item</h3>

<div class="govuk-pagination">
    <div class="govuk-pagination__controls">
        <a href="#" class="govuk-pagination__controls-prev">Prev</a>
        <ul class="govuk-pagination__controls-items govuk-list">
            <li><a href="#">47</a></li>
            <li><a href="#">48</a></li>
            <li><a href="#">49</a></li>
            <li><a href="#">50</a></li>
            <li>51</li>
        </ul>
    </div>
    <div class="govuk-pagination__summary">Showing 90 – 112 of 112 report submissions</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Search bar</h2>

<div class="govuk-form-group">
    <form>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">Search</legend>
            <label for="search" class="govuk-label">Search by court order number</label>
            <input type="text" id="search" class="govuk-input govuk-!-width-one-half">
            <input class="govuk-button" type="submit" value="Search">
        </fieldset>
    </form>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Alerts</h2>

<div class="govuk-alert govuk-alert--notification">
    <span class="govuk-icon govuk-icon--notification"></span>
    <div class="govuk-alert__message">
        <p>This is a notice</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--success">
    <span class="govuk-icon govuk-icon--success"></span>
    <div class="govuk-alert__message">
        <p>This is success</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--error">
    <span class="govuk-icon govuk-icon--error"></span>
    <div class="govuk-alert__message">
        <p>This is an error</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--info">
    <span class="govuk-icon govuk-icon--info"></span>
    <div class="govuk-alert__message">
        <p>This is information</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--loader">
    <span class="govuk-icon govuk-icon--loader"></span>
    <div class="govuk-alert__message">
        <p>This is a loader</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--important">
    <span class="govuk-icon govuk-icon--important"></span>
    <div class="govuk-alert__message">
        <p>This is important</p>
    </div>
</div>

<div class="govuk-alert">
    <div class="govuk-alert__message">
        <p>This is default without an icon</p>
    </div>
</div>

<div class="govuk-alert">
    <div class="govuk-alert__message">
        <p>This is default without an icon and with more text.</p>
        <p>Nobis at eos odit. In totam cupiditate corrupti aut reprehenderit ea repudiandae. Aut enim assumenda molestiae.</p>
        <p>Quia facere ut commodi expedita reprehenderit quaerat totam. Nisi dolor asperiores consequatur minus. A ipsa nam sit iste in assumenda qui assumenda. Quia dolores facere dolores. Ad voluptates voluptas at aut.</p>
    </div>
</div>

{% endblock %}