{% set showNavigation = false %}
{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}{{ status_text }}{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">{{ status_text }}</h1>
{% endblock %}

{% block content %}
    <p>
        Something is broken. Please let us know what you were doing when this error occurred.
    </p>
    <p>
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </p>
{% endblock %}
