{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Page not found - 404{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">This page can’t be found</h1>
{% endblock %}
{# 404 page cannot know if the user is logged, so the nav only shows the homepage#}
{% block navLinks %}
    <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="{{ path('homepage') }}">Homepage</a>
    </li>
{% endblock %}

{% block content %}
    <p>
        Please check that you have entered the correct web address.
    </p>
    <p>
        Go back to the <a href="{{ path('homepage') }}">Homepage</a>
    </p>
{% endblock %}
