<div class="govuk-form-group postcode-lookup__search">
    <label class="govuk-label" for="postcode-lookup">Postcode lookup</label>
    <input autocomplete="off" type="text" id="postcode-lookup" class="postcode-input govuk-input js-PostcodeLookup__query govuk-!-width-one-half">
    <a href="#" id="find_uk_address" class="postcode-button govuk-button js-PostcodeLookup__search-btn govuk-!-margin-bottom-0" role="button">Find UK address</a>
</div>

<div class="govuk-form-group postcode-lookup__results govuk-visually-hidden">
    <label class="govuk-label" for="address-search-result">Address</label>
    <select class="govuk-select js-PostcodeLookup__search-results" id="address-search-result">
        <option value="">Please select an address...</option>
    </select>
</div>

<div class="govuk-form-group postcode-lookup__toggle">
    <a href="#" class="js-PostcodeLookup__toggle-address">Enter address manually</a>
</div>
