.idea
# ignore bin as created by composer
**/bin
**/web/assets
node_modules
*/bin/jp.php
**/vendor
bootstrap.php.cache
*.iml
.env
docker-compose.local.yml
var
**/*.crt
**/*.key
web/behat
**/.DS_Store
s3
