###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
.idea
**/public/assets
node_modules
*/bin/jp.php
**/vendor
bootstrap.php.cache
*.iml
.env.local
var
**/*.crt
**/*.key
web/behat
**/.DS_Store
localstack-data
.dd-*.sh

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

/features/screenshots/*
/tests/artifacts/behat/*
/tests/artifacts/phpunit/*

/s3/
/web/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
