default:
    autoload:
        '': "%paths.base%/bootstrap"
    suites:

        main:
            description: End to end journey
            paths:    [ "%paths.base%/features" ]
            contexts:
               - App\Behat\FeatureContext

        local:
            description: Excludes CI specific tests
            paths:    [ "%paths.base%/features" ]
            contexts:
              - App\Behat\FeatureContext
            filters:
                tags: ~@excludeLocal

    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behat\MinkExtension\ServiceContainer\MinkExtension:
              goutte:
                  guzzle_parameters:
                    verify: false
              files_path: "%paths.base%/features/fixtures/"

    formatters:
        pretty: true
        junit:
            output_path: "%paths.base%/tests/artifacts/behat"
