---
version: '3'

services:
  app:
    environment:
      APP_ENV: 'test'
      DC_S3_ENDPOINT: 'http://localstack:4572'
      DYNAMODB_ENDPOINT: 'http://localstack:4569'
      SIRIUS_PUBLIC_API_PASSWORD: 'FAKE_API_PASSWORD'
      AWS_ACCESS_KEY_ID: 'foo'
      AWS_SECRET_ACCESS_KEY: 'bar'
      SYMFONY_DEPRECATIONS_HELPER: 100
      APP_SECRET: 'aFakeSecret'
      BEHAT_PASSWORD: 'Abcd1234'