{% extends 'base.html.twig' %}
{% import 'Macros/_macros.html.twig' as macro %}

{% block htmlTitle %}Forgotten your password - Thank you{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">Thank you</h1>
{% endblock %}


{% block content %}
    <p>We've emailed a link to <b>{{ email }}</b> so that you can reset your password.</p>

    <p>You should get the email in a few minutes. If you do not, please check your spam or junk email folder.</p>

    <p>If the email does not arrive, please try to <a href="{{ path('password-reset-request') }}">reset your password</a> again.</p>

{% endblock %}
