{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Design stuff{% endblock %}
{% block pageTitle %}Design stuff{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">Pagination</h2>

<h3 class="govuk-heading-m">First item</h3>

<div class="govuk-pagination">
    <div class="govuk-pagination__controls">
        <ul class="govuk-pagination__controls-items govuk-list">
            <li>1</li>
            <li><a href="#" class="govuk-link">2</a></li>
            <li><a href="#" class="govuk-link">3</a></li>
            <li><a href="#" class="govuk-link">4</a></li>
            <li><a href="#" class="govuk-link">5</a></li>
        </ul>
        <a href="#" class="govuk-pagination__controls-next govuk-link">Next</a>
    </div>
    <div class="govuk-pagination__summary">Showing 1 – 15 of 112 report submissions</div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Middle items</h3>

<div class="govuk-pagination">
    <div class="govuk-pagination__controls">
        <a href="#" class="govuk-pagination__controls-prev govuk-link">Prev</a>
        <ul class="govuk-pagination__controls-items govuk-list">
            <li><a href="#" class="govuk-link">34</a></li>
            <li><a href="#" class="govuk-link">35</a></li>
            <li>36</li>
            <li><a href="#" class="govuk-link">37</a></li>
            <li><a href="#" class="govuk-link">38</a></li>
        </ul>
        <a href="#" class="govuk-pagination__controls-next govuk-link">Next</a>
    </div>
    <div class="govuk-pagination__summary">Showing 25 – 50 of 112 report submissions</div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Last item</h3>

<div class="govuk-pagination">
    <div class="govuk-pagination__controls">
        <a href="#" class="govuk-pagination__controls-prev govuk-link">Prev</a>
        <ul class="govuk-pagination__controls-items govuk-list">
            <li><a href="#" class="govuk-link">47</a></li>
            <li><a href="#" class="govuk-link">48</a></li>
            <li><a href="#" class="govuk-link">49</a></li>
            <li><a href="#" class="govuk-link">50</a></li>
            <li>51</li>
        </ul>
    </div>
    <div class="govuk-pagination__summary">Showing 90 – 112 of 112 report submissions</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Search bar</h2>

<div class="govuk-form-group">
    <form>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">Search</legend>
            <label for="search" class="govuk-label">Search by client name or court order number</label>
            <input type="text" id="search" class="govuk-input govuk-!-width-one-half">
            <input class="govuk-button" type="submit" value="Search">
        </fieldset>
    </form>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Alerts</h2>

<div class="govuk-alert govuk-alert--notification">
    <span class="govuk-icon govuk-icon--notification"></span>
    <div class="govuk-alert__message">
        <p>This is a notice</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--success">
    <span class="govuk-icon govuk-icon--success"></span>
    <div class="govuk-alert__message">
        <p>This is success</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--error">
    <span class="govuk-icon govuk-icon--error"></span>
    <div class="govuk-alert__message">
        <p>This is an error</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--info">
    <span class="govuk-icon govuk-icon--info"></span>
    <div class="govuk-alert__message">
        <p>This is information</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--loader">
    <span class="govuk-icon govuk-icon--loader"></span>
    <div class="govuk-alert__message">
        <p>This is a loader</p>
    </div>
</div>

<div class="govuk-alert govuk-alert--important">
    <span class="govuk-icon govuk-icon--important"></span>
    <div class="govuk-alert__message">
        <p>This is important</p>
    </div>
</div>

<div class="govuk-alert">
    <div class="govuk-alert__message">
        <p>This is default without an icon</p>
    </div>
</div>

<div class="govuk-alert">
    <div class="govuk-alert__message">
        <p>This is default without an icon and with more text.</p>
        <p>Nobis at eos odit. In totam cupiditate corrupti aut reprehenderit ea repudiandae. Aut enim assumenda molestiae.</p>
        <p>Quia facere ut commodi expedita reprehenderit quaerat totam. Nisi dolor asperiores consequatur minus. A ipsa nam sit iste in assumenda qui assumenda. Quia dolores facere dolores. Ad voluptates voluptas at aut.</p>
    </div>
</div>

{% endblock %}