{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block content %}

{% if app.user %}
    Logged in as {{ app.user.username }} <a href="{{ path('logout') }}">Logout</a>
{% else %}
    <a href="{{ path('login') }}">Login</a>
{% endif %}
<hr/>



<h1>hello ! I'm digicop</h1>
Symfony 3.4, PHP 7.2

<hr/>
{{ debug | raw }}

{% endblock %}