services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Behat\:
        resource: '../src/Behat/*'

    App\Behat\FeatureContext:
        public: true
        arguments:
            - "@kernel"

    App\Service\NotifyClientMock:
        arguments:
            $config: []

    App\Service\MailSender:
        arguments:
            $notifyClient: "@App\\Service\\NotifyClientMock"

    App\Service\Availability\NotifyAvailability:
        arguments:
            $notifyClient: "@App\\Service\\NotifyClientMock"
