{% extends 'AppBundle:Layouts:base-template.html.twig' %}

{% block htmlTitle %}Sign in - {% endblock %}
{% block pageTitle %}Sign in{% endblock %}

{% block content %}

{% if error %}
    <div class="behat-region-form-errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="{{ path('login') }}" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="" role="group">

                    <div class="govuk-form-group">

                    <label for="username" class="govuk-label">Username:</label>
                    <input type="text" id="login_username" name="_username" value="" class="govuk-input" />
                </div>

                <div class="govuk-form-group">

                    <label for="password" class="govuk-label">Password:</label>
                    <input type="password" id="login_password" name="_password" class="govuk-input" />
                </div>

                </fieldset>
            </div>

            <button type="submit" id="login_submit" class="govuk-button">Sign in</button>

        </form>
    </div>
</div>

{% endblock %}