// Import GOVUK Frontend
$govuk-global-styles: true;
$govuk-page-width: 1200px;
$govuk-assets-path: '/build/';
$govuk-font-family: helvetica, arial;
@import "~govuk-frontend/govuk/all";

// GOVUK extensions
@import "govuk-extension/core/links";
@import "govuk-extension/core/error-message";
@import "govuk-extension/components/button";

// Custom components
@import "components/alerts";
@import "components/icons";
@import "components/pagination";
@import "components/debug";
@import "components/session-timeout";
@import "components/postcodeLookup";
@import "components/dropzonejs";
