#dropzone__template,
#dropzone__template__file{
    display: none;
}

.dropzone__info {
    display: none;
    .js-enabled &{
        display: block;
    }
}

#documents-mandatory
 ,#documents-additional{
     .js-enabled &{
         display: none;
     }
 }

.dropzone {
    border: 2px dashed black;
    padding: $govuk-gutter  $govuk-gutter 0;
    // width: 100%;
    // min-height: 200px;
    margin-bottom: $govuk-gutter;

    &:focus {
        outline: 3px solid $govuk-focus-colour;
        outline-offset: 0;
    }

    .govuk-button--secondary{
        margin-bottom: $govuk-gutter;
        //background-color: $govuk-link-colour;
        //color: govuk-colour("white");
    }

    .govuk-button--secondary:focus{
        background-color: govuk-colour("grey-2");
    }

    .govuk-button--secondary:active{
        color: govuk-colour("black");
    }
    
    .dz-message {
        margin-bottom: 0;
    }

    .dz-filename {
        margin-bottom: $govuk-gutter-half;
    }

    .dropzone__file-remove{
        color: $govuk-link-colour;
        font: $govuk-font-family;
        font-weight: $govuk-font-weight-bold;
        float: right;
    }

    .dropzone__file-remove:hover{
        color: $govuk-link-hover-colour;
    }

    .arrow-icon::before {
        //content: url('../images/icons/drag-drop-upload-ico.svg');
        content: ' ';
        background-image: url('../../images/icons/drag-drop-upload-ico.svg');
        float: right;
        width: 90px;
        height: 90px;
        margin-bottom: $govuk-gutter / 2;

        @include govuk-media-query($from: tablet) {
            margin-bottom: 0;
        }
    }
    &.dz-drag-hover {
        border-color: govuk-colour("yellow");
        .arrow-icon::before {
            content: url('../../images/icons/drag-drop-upload-hover-ico.svg');
            float: right;
            width: 90px;
            height: 90px;
        }
    }

    .drag-helptext {
        text-align: center;
        display: inline-block;
        &::before {
            content: url('../../images/icons/drag-drop-upload-ico.svg');
            float: left;
            width: 90px;
            height: 90px;
        }
    }

    .dz-preview {
        border-top: 1px solid $govuk-border-colour;
        padding-top: $govuk-gutter-half;
        width: 100%;
        .dz-progress {
            width: 15em;
            display: inline-block;
            border-radius: 10px;
            border: 1px solid black;
            height: 15px;
            .dz-upload {
                background-color: govuk-colour("light-green");
                display:inline-block;
                height: 15px;
                border-radius: 10px;
                margin-bottom: 4px;
            }
            &.dz-success {
                .dz-success-mark {
                    position: static;
                }
            }
        }
    }

    .file-info {
        font-size: 12px;
        color: $govuk-secondary-text-colour;
    }

    .error & {
        border-color: $govuk-error-colour;
        border-width: 4px;
    }
}
.dz-success.dz-complete{
    .dz-progress{
        display: none;
    }
}
