// Import GOVUK Frontend
$govuk-global-styles: true;
$govuk-page-width: 1200px;
$govuk-assets-path: '../';
$govuk-font-family: helvetica, arial;
@import "all";

// GOVUK extensions
@import "govuk-extension/core/links";
@import "govuk-extension/core/error-message";

// Custom components
@import "components/alerts";
@import "components/icons";
@import "components/pagination";
@import "components/debug";
@import "components/session-timeout";
@import "components/postcodeLookup";
