{% import 'Macros/_macros.html.twig' as macro %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full text--center">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                macro.titleWithSideSubtitle('6526', 'Total court order backlog', 'right)
            </div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group push--right">
                    <label class="govuk-label" for="sort">
                        Show backlog by
                    </label>
                    <select class="govuk-select push--right" id="sort" name="sort">
                        <option value="published">Year breakdown</option>
                        <option value="updated" selected>Order type</option>
                        <option value="views">Order status</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds text--center">
        <div class="app-stat-items">
            <div class="app-stat-item">
                <div class="govuk-caption-xl govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link">1234</a>
                </div>
                <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">1 Jan 2018 <span class="govuk-!-font-weight-regular">to</span></p>
                <p class="govuk-body-s govuk-!-font-weight-bold">
                    31 Dec 2018
                </p>
            </div>

            <div class="app-stat-item">
                <div class="govuk-caption-xl govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link">678</a>
                </div>
                <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">1 Jan 2019 <span class="govuk-!-font-weight-regular">to</span></p>
                <p class="govuk-body-s govuk-!-font-weight-bold">
                    31 Dec 2019
                </p>
            </div>

            <div class="app-stat-item">
                <div class="govuk-caption-xl govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link">465</a>
                </div>
                <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">1 Jan 2020 <span class="govuk-!-font-weight-regular">to</span></p>
                <p class="govuk-body-s govuk-!-font-weight-bold">
                    31 Dec 2020
                </p>
            </div>

            <div class="app-stat-item">
                <div class="govuk-caption-xl govuk-!-margin-bottom-2">
                    <a href="#" class="govuk-link">112</a>
                </div>
                <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">1 Jan 2021 <span class="govuk-!-font-weight-regular">to</span></p>
                <p class="govuk-body-s">
                    present
                </p>
            </div>
        </div>
    </div>
</div>
