security:
    providers:
        app_user_provider:
            id: App\Service\Security\LoginAttempts\UserProvider

    password_hashers:
        # Use native password hasher, which auto-selects and migrates the best
        # possible hashing algorithm (starting from Symfony 5.3 this is "bcrypt")
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        health:
            pattern: ^/health-check/*
            security: false

        main:
            provider: app_user_provider
            logout:
                path: app_logout
                target: app_login
            custom_authenticators:
                - App\Security\LoginFormAuthenticator

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/user/password-reset, roles: PUBLIC_ACCESS }
        - { path: ^/behat/, roles: PUBLIC_ACCESS }
        - { path: ^/health-check/, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }
        # default: only ROLE_USER can access everything
        - { path: ^/, roles: ROLE_USER }
