@import "settings/all";
@import "tools/all";
@import "helpers/all";

#inline_upload_template{
    display: none;
}

.inline-upload__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
}


.dropzone.inline-upload__placeholder {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    min-height: 150px;
    border:dotted $govuk-border-width-form-element govuk-colour("grey-2");
    background: rgba(govuk-colour("grey-2"), .1);
    margin-bottom: 20px;

    p{
        margin: 0;
    }

    .dz-preview .dz-details .dz-filename
    ,.dz-preview .dz-details .dz-size{
        span{
            background: none;
        }
    }

    .dz-preview .dz-progress
    {
        margin-top: 0;
    }

    .dz-preview .dz-error-mark
    ,.dz-preview .dz-success-mark{

        top: auto;
        margin-left: -20px;
        margin-top: -50px;

        svg{
            width: 40px;
            height: 40px;
        }
    }
}

.dropzone.inline-upload__placeholder--multiple{
    flex: 1 0 42%;
    margin: 20px 20px 0 0;
    width: 100px;
}

