.postcode-lookup__search
,.postcode-lookup__toggle{
    display: none;
}

.js-enabled {
    .address-wrapper {
        display: none;
    }

    .postcode-lookup__search
    ,.postcode-lookup__toggle{
        display: block;
    }
}

.js-PostcodeLookup__search-results{
    max-width: 100%;
}

@media (max-width: 640px) {
    .postcode-button {
        margin-top: 15px;
        text-align: center;
    }
}
