{% extends 'Layouts/base-template.html.twig' %}
{% form_theme form 'Form/govuk_frontend.html.twig' %}

{% block htmlTitle %}Upload cases{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-l">Upload orders</h1>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    <h2 class="govuk-heading-m">Select CASREC CSV file</h2>

    <p>Please select 'Choose file' below to find your CSV file.</p>

    {{ form_row(form.file, {'label': false}) }}

    <h2 class="govuk-heading-m">2. Upload the file</h2>

    {{ form_widget(form.submit, {'label': 'Upload CSV', 'attr': {'class':'behat-link-submit'}} ) }}

    {{ form_end(form) }}

{% endblock %}
