{% extends 'AppBundle:Layouts:base-template.html.twig' %}
{% import 'AppBundle:Macros:_macros.html.twig' as macro %}

{% block htmlTitle %}Password reset{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">Password reset</h1>
{% endblock %}


{% block content %}
    <p>We have sent ...</p>
    <p>Didn't receive ? Please return to <a href="{{ path('password-reset-request') }}">Reset your password</a></p>
    <p>Still having problems ? <a href="#">Contact OPG</a></p>

    <p>
        <a href="{{ path('login') }}">Return to sign in</a>
    </p>

{% endblock %}
