default:
    autoload:
        '': %paths.base%/bootstrap
    suites:

        main:
            description: Main journey
            paths:    [ %paths.base%/features ]

    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension\ServiceContainer\MinkExtension:
              goutte:
                  guzzle_parameters:
                    verify: false
              files_path: %paths.base%/fixtures/
              base_url: "https://digideps-client.local/"
