{% extends 'base.html.twig' %}

{% block htmlTitle %}User added{% endblock %}

{% block pageTitle %}
    <h1 class="govuk-heading-xl">
        Activate account
    </h1>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l">
                We've emailed a link to <span class="govuk-!-font-weight-bold">{{ email }}</span>. They'll need to click on the link to activate their account.
            </p>

            <p>
                The email should arrive in a few minutes. If it's not in their inbox, they should check their spam or junk folder.
            </p>

            <a href="{{ path('view-users') }}" class="govuk-button" data-module="govuk-button">
                Done
            </a>
        </div>
    </div>
{% endblock %}
