{% extends 'base.html.twig' %}

{% block htmlTitle %}Sign in{% endblock %}
{% block pageTitle %}
    <h1 class="govuk-heading-xl">View Users</h1>
{% endblock %}

{% block main %}

        <section class="govuk-tabs__panel">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">User Email</th>
                            <th class="govuk-table__header" scope="col">Created</th>
                            <th class="govuk-table__header" scope="col">Last Logged In</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% for user in users %}
                        <tr class="govuk-table__row" >
                            <td class="govuk-table__cell">{{ user.email }}</td>
                            <td class="govuk-table__cell">{{ user.createdAt|date('Y-m-d') }}</td>
                            <td class="govuk-table__cell">{{ user.lastLoginAt|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </section>
{% endblock %}
