name: "[Notify] Slack"

on:
  workflow_call:
    inputs:
      type:
        description: "Type of alert (workflow, secret_alert, etc)"
        required: true
        type: string
      status:
        description: "Status (success, failure, etc)"
        required: false
        type: string
      branch:
        description: "Branch name"
        required: false
        type: string
      workflow:
        description: "Workflow name"
        required: false
        type: string
      user:
        description: "GitHub user"
        required: false
        type: string
      gh_url:
        description: "GitHub Actions run URL"
        required: false
        type: string
      commit_message:
        description: "Commit message"
        required: false
        type: string

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials for Slack notify
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::705467933182:role/serve-gh-actions-slack-notifier
          role-session-name: github-actions-slack-notifier
          role-duration-seconds: 900

      - name: Create SNS message payload
        run: |
          cat > payload.json <<'EOF'
          {
            "type": "${{ inputs.type }}",
            "status": "${{ inputs.status }}",
            "branch": "${{ inputs.branch }}",
            "workflow": "${{ inputs.workflow }}",
            "user": "${{ inputs.user }}",
            "gh_url": "${{ inputs.gh_url }}",
            "commit_message": "${{ inputs.commit_message }}"
          }
          EOF

      - name: Publish to SNS topic
        run: |
          aws sns publish \
            --region eu-west-1 \
            --topic-arn arn:aws:sns:eu-west-1:705467933182:serve-slack-notifications \
            --message file://payload.json
