on:
  workflow_call:
    inputs:
      workspace_name:
        description: "The terraform workspace to target"
        required: true
        type: string
      version_tag:
        description: "Version tag for docker images"
        required: true
        type: string
      base_url:
        description: "Base url to run Behat against"
        required: true
        type: string
      sirius_api_bucket:
        description: "Sirius API bucket to use"
        required: true
        type: string
      suite:
        description: "Test suite to run"
        required: true
        type: string
      account_name:
        description: "Account Name"
        required: true
        type: string
      account_id:
        description: "Account ID"
        required: true
        type: string

jobs:
  run_behat_tests:
    runs-on: ubuntu-latest
    env:
      TF_WORKSPACE: ${{ inputs.workspace_name }}
      APP_VERSION: ${{ inputs.version_tag }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # v1

      - name: Install PHP 8.4
        uses: shivammathur/setup-php@ec406be512d7077f68eed36e63f4d91bc006edc4 # 2.35.4
        with:
          php-version: "8.4.8"

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.13.7"

      - name: Install Python packages
        run: |
          pip3 install -r scripts/ci_ingress/requirements.txt

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"
        working-directory: ./serve-web

      - name: Cache PHP Dependencies
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Composer Install
        env:
          ENVIRONMENT_NAME: development
        run: |
          composer install --no-interaction
        working-directory: ./serve-web

      - name: Create Failure Folder
        run: |
          mkdir -p /tmp/behat

      - name: Retrieve Cluster Config File
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: cluster_config_${{ inputs.workspace_name }}

      - name: Configure OIDC AWS Credentials to get password
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-region: eu-west-1
          role-to-assume: "arn:aws:iam::631181914621:role/oidc-serve-${{ inputs.account_name }}"
          role-duration-seconds: 900
          role-session-name: identity-oidc-serve

      - name: Get Behat password
        env:
          ACCOUNT_ID: ${{ inputs.account_id }}
        run: |
          BEHAT_PASSWORD="$(python scripts/ci_ingress/get_behat_secret.py)"
          echo "::add-mask::$BEHAT_PASSWORD"
          echo "BEHAT_PASSWORD=$BEHAT_PASSWORD" >> "$GITHUB_ENV"

      - name: Allow CI ingress
        run: |
          echo "$TF_WORKSPACE"
          python scripts/ci_ingress/ci_ingress.py cluster_config.json --add

      - name: Run Behat
        env:
          BEHAT_PARAMS: '{"extensions" : {"Behat\\MinkExtension" : {"base_url" : "https://${{ inputs.base_url }}"}}}'
          SIRIUS_S3_BUCKET_NAME: ${{ inputs.sirius_api_bucket }}
          ENVIRONMENT_NAME: development
        run: |
          vendor/bin/behat --stop-on-failure -c behat.yml.dist "${{ inputs.suite }}"
        working-directory: ./serve-web

      - name: Archive Test Output
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ always() }}
        with:
          name: Behat Outputs
          path: /tmp/behat

      - name: Remove CI ingress
        if: ${{ always() }}
        run: |
          echo "$TF_WORKSPACE"
          python scripts/ci_ingress/ci_ingress.py cluster_config.json
