on:
  workflow_call:

jobs:
  test_web:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        - name: Build Dependencies
          run: make dependencies

        - name: Run Unit Tests
          run: |
            ./serve-web/generate_certs.sh
            make unit-tests

        - name: Run Integrations Tests
          run: |
            make behat-tests
