name: "[Scheduled] Cleanup PR Workspaces"

on:
  schedule:
    # 10pm every day except Sundays
    - cron: "0 22 * * 0-6"

permissions:
  id-token: write
  contents: read
  security-events: none
  pull-requests: none
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  terraform_environment_cleanup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - id: terraform_version
        name: get terraform version
        uses: ministryofjustice/opg-github-actions/.github/actions/terraform-version@ea1e81f43e7593acd74cc114085930f5f54914a2 # v3.1.7
        with:
          terraform_directory: terraform/environment

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ steps.terraform_version.outputs.version }}
          terraform_wrapper: false

      - uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}

      - name: Configure Terraform OIDC AWS Credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-region: eu-west-1
          role-to-assume: "arn:aws:iam::631181914621:role/oidc-serve-development"
          role-duration-seconds: 7200
          role-session-name: terraform-oidc-serve-cleanup

      - name: install workspace manager
        run: |
          wget "https://github.com/ministryofjustice/opg-terraform-workspace-manager/releases/download/v0.3.2/opg-terraform-workspace-manager_Linux_x86_64.tar.gz" -O "$HOME/terraform-workspace-manager.tar.gz"
          sudo tar -xvf "$HOME/terraform-workspace-manager.tar.gz" -C /usr/local/bin
          sudo chmod +x /usr/local/bin/terraform-workspace-manager

      - name: terraform init
        run: terraform init -input=false
        working-directory: terraform/environment

      - name: clean up ephemeral environments
        working-directory: terraform/environment
        run: |
          unset TF_WORKSPACE
          ../../scripts/cleanup/workspace_cleanup.sh "$(terraform-workspace-manager -protected-workspaces=true -aws-account-id=705467933182 -aws-iam-role=serve-opg-ci)"

      - name: install python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.13"
          cache: "pip"

      - name: clean up old task definitions
        env:
          REGION: eu-west-1
        run: |
          pip install -r requirements.txt
          python cleanup_task_definitions.py
        working-directory: scripts/cleanup
