name: "[Workflow] Path to Live"

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

defaults:
  run:
    shell: bash

jobs:
  workflow_variables:
    runs-on: ubuntu-latest
    name: output workflow variables
    outputs:
      build_identifier: "main"
      version_tag: ${{ steps.semver_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0

      - name: Get Default Bump
        id: semver_bump
        run: |
          bump=$(./scripts/default_bump/bump.sh)
          export bump
          echo "Default Bump: ${bump}"
          echo "default_bump=${bump}" >> "$GITHUB_OUTPUT"

      - name: generate semver tag and release
        id: semver_tag
        uses: ministryofjustice/opg-github-actions/actions/semver@4f345be3f706950d1fdc05bc86383967a149bd99 # v4.3.4
        with:
          prerelease: false
          default_bump: ${{ steps.semver_bump.outputs.default_bump }}

      - name: Generate build output using Markdown
        run: |
          {
          echo "### Build Variables"
          echo ""
          echo "- Branch: main"
          echo "- Build Identifier: main"
          } >> "$GITHUB_STEP_SUMMARY"

          {
          echo "### Environment Details"
          echo ""
          echo "- Service Frontend URL: https://serve.opg.service.justice.gov.uk"
          echo "- Tag Used: ${{ steps.semver_tag.outputs.tag }}"
          } >> "$GITHUB_STEP_SUMMARY"

  create_tag_release:
    name: Create release tag from releasable
    needs: [workflow_variables]
    uses: ./.github/workflows/_tag-release.yml
    with:
      current_tag: releasable
      release_tag: ${{ needs.workflow_variables.outputs.version_tag }}
    secrets: inherit

  deploy_to_development_account:
    name: Deploy to Development Account
    needs: [workflow_variables]
    uses: ./.github/workflows/_deploy-infrastructure.yml
    with:
      workspace: development
      account_name: development
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      terraform_path: account
      apply: true
      path_to_live: true
    secrets: inherit

  deploy_to_preproduction_account:
    name: Deploy to Preproduction Account
    needs: [
      workflow_variables,
      deploy_to_development_account
    ]
    uses: ./.github/workflows/_deploy-infrastructure.yml
    with:
      workspace: preproduction
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      terraform_path: account
      apply: true
      path_to_live: true
    secrets: inherit

  deploy_to_production_account:
    name: Deploy to Production Account
    needs: [
      workflow_variables,
      create_tag_release,
      deploy_to_preproduction_account
    ]
    uses: ./.github/workflows/_deploy-infrastructure.yml
    with:
      workspace: production
      account_name: production
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      terraform_path: account
      apply: true
      path_to_live: true
    secrets: inherit

  deploy_to_production_environment:
    name: Deploy to Production Environment
    needs: [
      workflow_variables,
      create_tag_release,
      deploy_to_production_account
    ]
    uses: ./.github/workflows/_deploy-infrastructure.yml
    with:
      workspace: production
      account_name: production
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      terraform_path: environment
      apply: true
      path_to_live: true
    secrets: inherit

  behat_prod:
    name: Production Smoke Tests
    needs: [
      workflow_variables,
      create_tag_release,
      deploy_to_production_environment
    ]
    uses: ./.github/workflows/_tests-behat.yml
    with:
      workspace_name: production
      version_tag: ${{ needs.workflow_variables.outputs.version_tag }}
      base_url: serve.opg.service.justice.gov.uk
      sirius_api_bucket: opg-backoffice-public-api-production
      suite: "--tags @smoke"
      account_name: production
      account_id: ${{ vars.PRODUCTION_ACCOUNT }}
    secrets: inherit

  slack_notify_success:
    name: Notify Slack of success
    uses: ./.github/workflows/_notify-slack.yml
    if: ${{ success() }}
    needs:
      - workflow_variables
      - behat_prod
    with:
      type: "workflow"
      status: "success"
      branch: ${{ needs.workflow_variables.outputs.build_identifier }}
      workflow: ${{ github.workflow }}
      user: ${{ github.actor }}
      gh_url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
      commit_message: ${{ github.event.head_commit.message }}

  slack_notify_failure:
    name: Notify Slack of failure
    uses: ./.github/workflows/_notify-slack.yml
    if: ${{ failure() }}
    needs:
      - workflow_variables
      - behat_prod
    with:
      type: "workflow"
      status: "failure"
      branch: ${{ needs.workflow_variables.outputs.build_identifier }}
      workflow: ${{ github.workflow }}
      user: ${{ github.actor }}
      gh_url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
      commit_message: ${{ github.event.head_commit.message }}
