name: "[Workflow] Destroy ephemeral environment"

permissions:
  id-token: write
  contents: read
  security-events: none
  pull-requests: write
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  workflow_variables:
    runs-on: ubuntu-latest
    name: output workflow variables
    outputs:
      build_identifier: ${{ steps.variables.outputs.build_identifier }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: extract variables for workflow
        id: variables
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          BRANCH="$(echo "${GITHUB_HEAD_REF:-${GITHUB_REF##*/}}" | awk -F'_' '{print $1}' | tr -cd '[:alnum:]' | tr '[:upper:]' '[:lower:]' | cut -c1-8)"
          BUILD_IDENTIFIER="${BRANCH}${PR_NUMBER}"

          echo "build_identifier=${BUILD_IDENTIFIER}" >> "$GITHUB_OUTPUT"
          echo "${BUILD_IDENTIFIER}"

  cleanup_workspace:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    needs:
      - workflow_variables
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - id: terraform_version
        name: get terraform version
        uses: ministryofjustice/opg-github-actions/.github/actions/terraform-version@ea1e81f43e7593acd74cc114085930f5f54914a2 # v3.1.7
        with:
          terraform_directory: terraform/environment

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ steps.terraform_version.outputs.version }}
          terraform_wrapper: false

      - uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}

      - name: Configure Terraform OIDC AWS Credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-region: eu-west-1
          role-to-assume: "arn:aws:iam::${{ vars.IDENTITY_ACCOUNT }}:role/oidc-serve-development"
          role-duration-seconds: 3600
          role-session-name: terraform-oidc-serve-cleanup-on-merge

      - name: clean up environment
        working-directory: ./terraform/environment
        env:
          WORKSPACE: ${{ needs.workflow_variables.outputs.build_identifier }}
          TF_VAR_APP_VERSION: foo
        run: |
          echo "Running script against ${WORKSPACE}"
          ../../scripts/cleanup/destroy_workspace.sh "${WORKSPACE}"
