name: "[Workflow] Pull request to branch"

on:
  merge_group:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

defaults:
  run:
    shell: bash

jobs:
  workflow_variables:
    runs-on: ubuntu-latest
    name: output workflow variables
    outputs:
      build_identifier: "main"
      version_tag: ${{ steps.semver_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0

      - name: generate semver tag and release
        id: semver_tag
        uses: ministryofjustice/opg-github-actions/actions/semver@4f345be3f706950d1fdc05bc86383967a149bd99 # v4.3.4
        with:
          prerelease: true
          default_bump: ${{ steps.semver_bump.outputs.default_bump }}

  unit_test_frontend:
    name: Unit tests on Frontend app
    uses: ./.github/workflows/_tests-frontend.yml

  build_scan_push_containers:
    name: Docker Build, Scan and Push
    uses: ./.github/workflows/_build-push.yml
    needs: [workflow_variables]
    with:
      tag: ${{ needs.workflow_variables.outputs.version_tag }}
      branch_name: ${{ needs.workflow_variables.outputs.build_identifier }}
    secrets: inherit

  deploy_to_development_account:
    name: Deploy to Development
    needs: [
      workflow_variables,
      build_scan_push_containers,
      unit_test_frontend
    ]
    uses: ./.github/workflows/_deploy-infrastructure.yml
    with:
      workspace: development
      account_name: development
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      terraform_path: account
      apply: true
      path_to_live: true
    secrets: inherit

  deploy_to_preproduction_account:
    name: Deploy to Preproduction Account
    needs: [
      workflow_variables,
      deploy_to_development_account
    ]
    uses: ./.github/workflows/_deploy-infrastructure.yml
    with:
      workspace: preproduction
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      terraform_path: account
      apply: true
      path_to_live: true
    secrets: inherit

  deploy_to_preproduction_environment:
    name: Deploy to Preproduction Environment
    needs: [
      workflow_variables,
      deploy_to_preproduction_account
    ]
    uses: ./.github/workflows/_deploy-infrastructure.yml
    with:
      workspace: preproduction
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      terraform_path: environment
      apply: true
      path_to_live: true
    secrets: inherit

  behat_preproduction:
    name: Preproduction Behat Tests
    uses: ./.github/workflows/_tests-behat.yml
    needs: [
      workflow_variables,
      deploy_to_preproduction_environment,
    ]
    with:
      workspace_name: preproduction
      version_tag: ${{ needs.workflow_variables.outputs.version_tag }}
      base_url: preproduction.serve.opg.service.justice.gov.uk
      sirius_api_bucket: opg-backoffice-public-api-preprod
      suite: --suite=main
      account_name: preproduction
      account_id: 540070264006
    secrets: inherit
  
  create_tag_release:
    name: Create release tag from releasable
    needs: [workflow_variables,behat_preproduction]
    uses: ./.github/workflows/_tag-release.yml
    with:
      current_tag: ${{ needs.workflow_variables.outputs.version_tag }}
      release_tag: releasable
    secrets: inherit

  end_of_merge_workflow:
    name: End of PR Workflow
    runs-on: ubuntu-latest
    needs: [workflow_variables, create_tag_release]
    steps:
      - name: Check workflow result
        if: ${{ failure() }}
        run: |
          echo "A job failed. Marking end-workflow as failed."
          exit 1
      - name: End of PR Workflow
        run: echo "${{ needs.workflow_variables.outputs.version_tag }} tested, built and deployed through preproduction"